.headerContainer {
    width: 96vw;
    display: grid;
    grid-template-columns: 0.5fr 1fr 0.5fr;
    gap: 2rem;
}

.headerContainer img{
    width: 13rem;
    margin: auto;
}

.headerContainer span{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: var(--purple);
    
    font-weight: 600;
    font-family: Rajdhani, 'sans-serif';
    font-size: 2rem;
}

@media(min-width: 1200px) {
    .headerContainer span {
        font-size: 3.5rem;
    }
}