.titleFormContainer {
    width: 100%;
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
}

.titleFormContainer form{
    display: grid;
    grid-template-columns: repeat(2, 0.4fr);
    gap: 1rem;
    margin-bottom: 1rem;
}

.titleFormContainer form input{
    padding: 0.9rem 1.5rem;
    border-radius: 9px;
    outline: none;
    border: none;

    font-family: Inter, 'sans-serif';
    transition: border 0.3s;
}

.titleFormContainer form input:focus {
    border-bottom: 5px solid var(--purple);
}

.titleFormContainer button {
    padding: 1rem 1rem;
    width: 8rem;
    
    background: var(--purple);
    color: var(--white);

    margin: 1rem auto;
    
    border-radius: 5px;
    border: none;
    
    transition: filter 0.2s;

}

.titleFormContainer button:hover {
    filter: brightness(0.9);
}

.titleFormContainer button:focus {
    outline: none;
}

.titleFormContainer section{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    height: auto;

    background: black;
    font-family: 'Times New Roman', sans-serif;
    font-weight: 600;
    color: white;

    padding: 2rem 2rem;

    border-radius: 7px;
}

.StyledFont {
    font-family: 'Times New Roman', sans-serif !important;
    font-weight: 600;
    color: white;
}

.FirstLine{
    font-size: 7rem;
    font-family: 'Times New Roman', sans-serif;
    font-weight: 600;
    color: white;
}

.SecondLine{
    font-size: 6.2rem;
    font-family: 'Times New Roman', sans-serif;
    font-weight: 600;
    color: white;
}

.ThirdLine{
    font-size: 9rem;
    font-family: 'Times New Roman', sans-serif;
    font-weight: 600;
    color: white;
}

.FourthLine{
    font-size: 4.25rem;
    font-family: 'Times New Roman', sans-serif;
    font-weight: 600;
    color: white;
}

.DescriptionLine{
    font-size: 3.75rem;
    font-family: 'Times New Roman', sans-serif;
    font-weight: 600;
    color: white;
}
